#search-results {
  visibility :hidden;
  margin-top: 48px;
}
#search-results-content {
  position:relative;
  padding:20px;
  background: rgba(0,0,0,.2);
  min-height:200px;
  margin: auto;
  border-radius: 3px;
  border-width: 0 1px 1px 1px;
  border-style: dotted;
  border-color: #fff;
}

.gsc-control {
  width: 100%!important;
}

.gsc-tabsArea {
  display: none;
}

.gsc-above-wrapper-area {
  display: none;
}

.gsc-webResult .gsc-result {
  padding: 1em 0;
}

.gs-title {
  font-size: 26px;
  outline: none;
}

.gs-title:focus, .gs-title:focus b {
  color: orange!important;
}

.gs-title, .gs-snippet {
  color: #ccc!important
}

.gs-title b, .gs-snippet b {
  color: #fff!important
}

.gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl {
  color: #c3c3c3!important;
}

.gsc-cursor-page {
  padding: 1px 53px;
  color: #fff!important;
  margin-right: 0px!important;
  font-weight: normal;
  text-decoration: none!important;
  border-radius: 3px;
  border-width: 0 1px 1px 1px;
  border-style: dotted;
  border-color: #fff;
}

.gsc-cursor-current-page {
  color: orange!important;
}

.gs-no-results-result .gs-snippet, .gs-error-result .gs-snippet {
  border: 0px;
  background: transparent;
  color: #fff;
  text-align: center;
}

.ui-widget-content li a {
  color: #fff!important;
}

.ui-widget-content {
  background: rgba(0,0,0,.8);
}

html {
  min-height: 100%;
  height: 100%;
}

body {
  background:url(../img/wallpaper.jpg) no-repeat center center fixed;
  background-size:cover;
  min-height: 100%;
  height: 100%;
  font-family: 'Lato', serif;
  font-size: 14px;
  color: #333;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.9); /*dim the background*/
}

.overlay div {
    /* some styles to position the modal at the center of the page */
    position: fixed;
    top: 50%;
    left: 50%;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-size: 200%;
    font-weight: 100;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 0 20px;

    /* needed styles for the overlay */
    z-index: 10; /* keep on top of other elements on the page */
    box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
}

.wrapper {
  height: 100%;
  min-height: 100%;
}

.logo {
  padding: 37px 0;
  text-align: center;
}

.facebook {
  margin-top: 30px;
}

.logo a:hover {
  background: url(../img/bg.png) repeat;
  border: 1px dotted #fff;
}

.logo a {
  color: #fff;
  font-size: 550%;
  font-weight: 100;
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 0 20px;
}

.logo span, .facebook span {
  display: block;
  color: #fff;
  font-size: 200%;
  font-weight: 100;
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 0 20px;
  text-align: center;
}

.search input {
  display: block;
  padding: 6px 12px;
  margin: 0px auto;
  line-height: 1.428571429;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  border: 1px dotted #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background: url(../img/bg.png) repeat;
  height: 50px;
}

.facebook span {
  margin-bottom: 25px;
}

.facebook a {
  font-size: 100%;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 5px;
  border-bottom: 1px dotted #fff;
}

.facebook a:first-child {
  border-top: 1px dotted #fff;
}

.facebook a p {
  margin-top: 10px;
}
